.cart-button-custom .cart-icon-custom {
  z-index: 2;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%);
}

.cart-button-custom .box-icon-custom {
  z-index: 1;
  top: -10%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.cart-button-custom.clicked .cart-icon-custom {
  animation: cart-move 2s ease-in forwards;
}

.cart-button-custom.clicked .box-icon-custom {
  animation: box-move 2s ease-in forwards;
}

.cart-button-custom.clicked .add-to-cart {
  animation: addcart-fade 2s ease-in forwards;
}

.cart-button-custom.clicked .added-text {
  animation: added-fade 2s ease-in forwards;
}

@keyframes cart-move {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

@keyframes box-move {
  0%,
  40% {
    top: -20%;
    left: 53%;
  }
  60% {
    top: 36%;
    left: 53%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes addcart-fade {
  0%,
  30% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}

@keyframes added-fade {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
